html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

html.dark {
  background: #121212;
}
